/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%!important;
  background-color: #FFFFFF;
}
html,body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


